
db_config.py
chatgpt_config.py
/confluence_config.json

.DS_Store
/Python3/__pycache__/
/Python3/backup/
/Python3/confluence_docs/
/Python3/docs/
/Python3/export/

/confluence_docs
/export/






Python3/stored_procedures.md

__pycache__/

.idea/.cache/.ApidogFastRequest/.toolWindow.db
